<div class="container center-align animated fadeIn">
  <div class="row">
    <div class="col s12">
      <img src="http://i63.tinypic.com/116qek0.png" height="120"/>
      <p class="flow-text">List of organizations that match you via your posts through Facebook! Go get 'em tiger!</p>
      <button class="btn waves-effect" ui-sref="home">Go Back</button>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="org in partyDetails.organizations | orderBy: 'name'" ng-if="org.keycode == partyDetails.indexes[0] || org.keycode == partyDetails.indexes[1]" class="col s12">
      <a target="blank_" href="{{org.link}}">
      <div class="card hoverable">
            <div class="card-image">
              <div style="background: url({{org.img}}); background-size: cover; min-height: 300px; max-height: 800px; width: 100%; background-repeat: no-repeat"></div>

              <span class="card-title transbg">{{org.name}}</span>
            </div>
            <div class="card-content black-text">
              <p>{{org.description}}</p>
            </div>
            <div class="card-action orange-text lighten-1">
              <span>{{org.keyword}}</span>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>
