<div class="container centered center-align animated fadeIn">
  <div class="row">
    <div class="col s12">
      <img src="http://i63.tinypic.com/116qek0.png" height="120"/>
      <p id="initialtext" class="black-text">This service will take your Facebook feed and help match you with non profit organizations in Seattle through keywords in your posts</p>
      <button id="fbbutton" class="waves-effect btn orange darken-2" ng-click="orgList.fb()">Find Organizations</button>
      <p id="fbprogp">Getting data...</p>
      <div id="fbprogloader" class="progress">
          <div class="indeterminate center-align orange darken-2"></div>
      </div>
    </div>
  </div>
  <div id="result" class="truncate"></div>

</div>
